<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>注册</title>

    <link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.css" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px ;
        }
    </style>

</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="left aligned column">
        <form th:action="@{/api/account/register}" class="ui large form" id="registerForm" method="post">
            <div class="ui raised segment">
                <h2 class="ui dividing header aligned left">注册</h2>
                <div class="field">
                    <input type="text" id="login" name="login" placeholder="输入你的账号名（不小于5位的数字或字母）">
                </div>
                <div class="field">
                    <input type="email" id="email" name="email" placeholder="输入你的邮箱地址">
                </div>
                <div class="field">
                    <input type="password" id="password" name="password" placeholder="创建你的密码（不小于8位的数字及字母组合）">
                </div>
                <div class="field">
                    <input type="password" id="matchPassword" name="matchPassword"
                           placeholder="再次输入密码">
                </div>
                <div class="field">
                    <button class="ui fluid primary button" type="submit">确定</button>
                </div>
                <div class="field"><p><label>已有账号? <a href="#"> 登录 </a></label>
                </p></div>
            </div>
        </form>
        <div class="ui mini modal">
            <div class="header">提示</div>
            <div class="content">
            </div>
            <div class="actions">
                <div class="ui approve green button">确定</div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical footer ">
    <div class="ui center aligned container ">
      <span>
        copyright ©
        <a href="http://www.linj2n.cn">linj2n.cn</a>
    </span>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script
        src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.js">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('#registerForm').validate({
        rules: {
            login: {
                required: true,
                minlength: 5,
                remote: {
                    url: '/api/account/existence',
                    type: 'get',
                    dataType: "json",
                    data: {
                        'login': function () {
                            return $('#login').val()
                        }
                    },
                    dataFilter: function (data,type) {
                        console.log(data);
                        var result = jQuery.parseJSON(data);
                        console.log(result);
                        return !result.existed;
                    }
                }
            },
            email: {
                required: true,
                email: true,
                remote: {
                    url: '/api/account/existence',
                    type: 'get',
                    dataType: "json",
                    data: {
                        'email': function () {
                            return $('#email').val()
                        }
                    },
                    dataFilter: function (data,type) {
                        console.log(data);
                        var result = jQuery.parseJSON(data);
                        console.log(result);
                        return !result.existed;
                    }
                }
            },
            password: {
                required: true,
                minlength: 8
            },
            matchPassword: {
                required: true,
                minlength: 8,
                equalTo: '#password'
            }
        },
        messages: {
            login: {
                required: /*[[#{message.input.required}]]*/,
                minlength: /*[[#{message.login.invalid}]]*/,
                remote: /*[[#{message.login.alreadyExist}]]*/
            },
            email: {
                required: /*[[#{message.input.required}]]*/,
                email: /*[[#{message.email.invalid}]]*/,
                remote: /*[[#{message.email.alreadyExist}]]*/
            },
            password: {
                required: /*[[#{message.input.required}]]*/,
                minlength: /*[[#{message.password.invalid}]]*/
            },
            matchPassword: {
                required: /*[[#{message.input.required}]]*/,
                minlength: /*[[#{message.password.invalid}]]*/,
                equalTo: /*[[#{message.matchPassword.equalTo}]]*/
            }
        },
        highlight: function (element, errorClass) {
            // $(element).removeClass(errorClass);
            $(element).parent().addClass("error");
        },
        unhighlight: function (element, errorClass) {
            $(element).parent().removeClass("error");

        },
        errorElement: "div",
        errorClass: "ui pointing red basic label",
        submitHandler: function (form) {
            console.log("call form post ajax");
            var formData = $(form).serialize();
            $.post(form.action, formData, function (data) {
                $('.ui.mini.modal')
                    .modal({
                        closable  : true,
                        onApprove : function () {
                            window.location.href = "/admin/index";
                        },
                        onShow: function () {
                            $(this).find('.content').html(/*[[#{activationEmail.sentSuccessfully}]]*/);
                        }
                    })
                    .modal('show')
                ;
            }).fail(function (data) {
                $('.ui.mini.modal')
                    .modal({
                        closable  : true,
                        onShow: function () {
                            $(this).find('.content').html(/*[[#{activationEmail.failedToSend}]]*/);
                        }
                    })
                    .modal('show')
                ;
            })
            ;
            // $.ajax({
            //     url: form.action,
            //     type: form.method,
            //     data: $(form).serialize(),
            //     success: function(response) {
            //         console.log("sumit to server ------> success");
            //         /*TODO: 弹出模态框,再转到默认页面*/
            //         window.location.href = "/admin/index";
            //     }
            // });
        }
    })
    ;
    /*]]>*/
</script>
</body>
</html>